<html>

<head>
    <title>Listado de personal</title>
</head>

<body>
    <div>

        <h2>Listado de personal</h2>
        <br>
        <br>

        <a href="#">Agregar empleado</a>
        <table>
            <thead>
                <tr>
                    <th>
                        ID de empleado
                    </th>

                    <th>
                        Nombre
                    </th>

                    <th>
                        Puesto
                    </th>

                    <th>
                        Telefono
                    </th>

                    <th>
                        Correo electrónico
                    </th>

                    <th>
                        Editar
                    </th>

                    <th>
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>
                      <tdead>
                <tbody>
                <tr>
                    <td>
                        01
                    </td>
                    <td>
                        Juanito Pérez
                    </td>
                    <td>
                        Desarrollador Móvil
                    </td>
                    <td>
                        222-222-222
                    </td>
                     <td>
                        juan.perez@correo.com
                    </td>
                    <td>
                       <a href="#">Editar</a> 
                    </td>
                    <td>
                        <a href="#">Eliminar</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        02
                    </td>
                    <td>
                        María Hernández
                    </td>
                    <td>
                        Directora general
                    </td>
                    <td>
                        111-111-111
                    </td>
                     <td>
                        maria_hdez@correo.com
                    </td>
                    <td>
                       <a href="#">Editar</a> 
                    </td>
                    <td>
                        <a href="#">Eliminar</a>
                    </td>
                </tr>           
            </tbody>
        </table>
    </div>
</body>

</html>