<html>

<head>
    <title>Empleado-listado de personal</title>
</head>

<body>
    <di>

        <h2>Listado de personal</h2>
        <br>
        <br>

        <a href="#">Agregar Empleado</a>
        <table>
            <thead>
                <tr>
                    <td>Id de empleado</td>
                    <td>
                        Nombre
                    </td>
                    <td>
                        Puesto
                    </td>
                    <td>
                        Telefono
                    </td>
                    <td>
                        Correo electrónico
                    </td>
                    <td>
                        Editar
                    </td>
                    <td>
                        Eliminar
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr> </tr>
            </tbody>
        </table>
    </di>

</body>

</html>