<h1>Alta de personal</h1>

    <fieldset>
        <legend><b>Información básica</b></legend>
            <table style="width: 100%">
                <tr>
                    <td><b>Nombre:</b></td>
                    <td><input type="text" id="txtNombre" name="txtNombre"></td>
                    <td><b>Apellido Paterno:</b></td>
                    <td><input type="text" id="txtapellido Paterno" name="txtapellido Paterno"></td>
                    <td><b>Apellido Materno:</b></td>
                    <td><input type="text" id="txtapellido Materno" name="txtapellido Materno"></td>
                    
                </tr>
            </table>

    </fieldset>
    
    <fieldset>
        <legend><b>Datos Personales</b></legend>
            <table style="width: 100%">
                <tr>
                    <td><b>Sexo:</b></td>
                    
                    <td>
                        <select id="slcSexo">
                            <option>Selecciona</option>
                            <option>Femenino</option>
                            <option>Masculino</option>
                        </select>
                    </td>
                    
                    <td><b>CURP:</b></td>
                    <td><input type="text" id="txtCURP" name="txtCURP"></td>
                    
                    <td><b>Fecha de nacimiento:</b></td>
                    <td><input type="date" id="txtFechaNacimiento" name="txtFechaNacimiento"></td>
                    
                </tr>

                <tr>
                    <td><b>Nacionalidad:</b></td>
                   <td>
                       <select>
                          <option>
                              Selecciona
                          </option>
                           <option>
                               Mexicana
                           </option>
                           <option>
                               Extrangera
                           </option>
                       </select>
                   </td>

                    <td><b>RFC:</b></td>
                    <td><input type="txtRFC" name="txtRFC"></td>

                    <td><b>NSS:</b></td>
                    <td><input type="txtRFC" name="txtRFC"> </td>
                </tr>
            </table>

    </fieldset>
    <br>
    <br>                
    <fieldset>
        <legend><b>Domicilio</b></legend>    
            <table style="width: 100%">
                <tr>
                    <td><b>Calle:</b></td>
                    <td><input type="text" id="txtCalle" name="txtCalle"></td>

                    <td><b>N°Ext.:</b></td>
                    <td><input type="text" id="txtN°Int" name="txtN°Int"></td>

                    <td><b>N°Int.:</b></td>
                    <td><input type="text" id="txtN°Int" name="txtN°Int"></td>
                </tr>

                <br>
                <tr>
                    <td><b>Colonia:</b></td>
                    <td><input type="text" id="txtColonia" name="txtColonia"></td>

                    <td><b>Municipio:</b></td>
                    <td><input type="text" id="txtMunicipio" name="txtMunicipio"></td>

                    <td><b>Estado:</b></td>
 <td>
                        <select>
                                <option>Seleccionar</option>
                                <option>Aguascalientes</option>
                                <option>Baja California</option>
                                <option>Baja California Sur</option>
                                <option>Campeche</option>
                                <option>Chiapas</option>
                                <option>Chihuahua</option>
                                <option>Coahuila de Zaragoza</option>
                                <option>Colima</option>
                                <option>Durango</option>
                                <option>Guanajuato</option>
                                <option>Guerrero</option>
                                <option>Hidalgo</option>
                                <option>Jalisco</option>
                                <option>Estado de México</option>
                                <option>Michoacán de Ocampo</option>
                                <option>Morelos</option>
                                <option>Nayarit</option>
                                <option>Nuevo León</option>
                                <option>Oaxaca</option>
                                <option>Puebla</option>
                                <option>Querétaro</option>
                                <option>Quintana Roo</option>
                                <option>San Luis Potosí</option>
                                <option>Sinaloa</option>
                                <option>Sonora</option>
                                <option>Tabasco</option>
                                <option>Tamaulipas</option>
                                <option>Tlaxcala</option>
                                <option>Veracruz de Ignacio de la Llave</option>
                                <option>Yucatán</option>
                                <option>Zacatecas</option>
                                <option>Extranjero (especifique)</option>
                        </select>
                    </td>
                <td><b>Código postal:</b></td>
                    <td><input type="text" id="txtCP" name="txtCP"></td>

                </tr>

                <br/>
                <tr>
                    <td><b>Puesto:</b></td>
                    <td>
                        <select>
                            <option>Seleccionar</option>
                            <option>Director General</option>
                            <option>Director de Operaciones</option>
                            <option>Desarrollador movil</option>
                            <option>Desarrollador FrontEnd</option>
                            <option>Desarrollador BackEnd</option>
                            <option>Desarrollador FullStack</option>
                        </select>
                    </td>

                    <td><b>Fecha de ingreso:</b></td>
                    <td>
                        <input type="date" id="txtFechaIngreso" name="txtFechaIngreso"></td>

                    <td><b>Salario diario:</b></td>
                    <td>
                        <input type="text" id="txtSalario" name="txtSalario">
                    </td>
                    <br>
                    <br>
                    <td><b>Horario:</b></td>
                    <td>
                        <select>
                            <option>Seleccionar</option>
                            <option>Matutino</option>
                            <option>Vespertino</option>
                            <option>Mixto</option>
                        </select>
                        </td>
                </tr>

                <tr>
                    <td><b>Total de faltas:</b></td>
                    <td><input type="text" id="txtFaltas" name="txtFaltas"></td>
                </tr>
            </table>
    </fieldset>
                <br/>
                                <button id="btnGuardar" type="button">Guardar</button>
                                <button id="btnCerrar" type="button" onclick="window.location.href=~/Empleado/listado" >Cerrar</button>