<h1>Empleado - Listado de personal</h1>
                <br/>

                <h2>Listado de personal</h2>

                <br/>                    
                        <a href="~/Empleado/listado">Agregar Empleado</a>

                        <table style="widt: 100%;">
                            <thead>
                               <tr> 
                                <th>Id Empleado</th> 
                                &nbsp; 
                                
                                &nbsp; 
                                <th>Nombre</th> 
                                &nbsp; 
                                
                                &nbsp; 
                                <th>Puesto</th> 
                                &nbsp; 
                                
                                &nbsp; 
                                <th>Telefono</th>
                                &nbsp; 
                                
                                &nbsp; 
                                 <th>Correo electrónico</th>
                                
                                <th>
                                 <a href="~/Empleado/Registro">Editar</a> 
                                </th>
                                 
                                 
                                <th>
                                 <a href="#">Eliminar</a> 
                                </th>
                               </tr> 
                            </thead>
                        </table>
           
